/out/production/java-homework-7/ru/mirea/aas/practice7/Student.class
/out/production/java-homework-7/ru/mirea/aas/practice7/Task3.class
/out/production/java-homework-7/ru/mirea/aas/practice7/Task4.class
/out/production/java-homework-7/ru/mirea/aas/practice7/Task5.class
/out/production/java-homework-7/ru/mirea/aas/practice7/Task6.class
